<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Short Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-black">

    <div class="justify-center flex pt-56">

        <div class="w-[486px] text-white text-6xl font-bold font-['KMITLGO']  ">Welcome To CS<br />
            <span
                class="text-orange-500">ShortCourse
            </span><br />
            <a href="/signin">
                <button class="w-[120px] h-[39px] px-4 py-2.5 bg-amber-200 from-orange-600 to-yellow-400 rounded-full justify-center items-center gap-2 inline-flex border-2 border-transparent transition-transform transform hover:scale-105">
                    <div class="text-black text-xl font-normal font-['KMITLGO']">SIGN-IN</div>
                </button>
                
            </a>

            <a href="/register">
                <button
                    class="w-[120px] h-[39px] px-4 py-2.5 bg-amber-200 from-orange-600 to-yellow-400 rounded-full justify-center items-center gap-2 inline-flex border-2 border-transparent transition-transform transform hover:scale-105 ml-10 ">
                    <div class="text-black text-xl font-normal font-['KMITLGO']">REGISTER</div>
                </button>
            </a>
        </div>
        <div class="w-[180px] h-[180px] relative">
            <img src="https://cdn-icons-png.flaticon.com/512/2232/2232688.png" alt="book icon"
                class="block absolute  ">
        </div>

    </div>

</body>

</html>