<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    คุณไม่มีสิทธิ์เข้าถึง
    <button><a href="/course-list">กลับไปหน้าหลัก</a></button>
</body>
</html>