<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    กรอกรหัสสำหรับคอร์ส
    <form action="/edit-course/<%= course_id %>" method="post">
        <input type="text" name="secret_key">
        <button type="submit">ตรวจสอบ</button>

    </form>
</body>
</html>