<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course List</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">

</head>

<body class=" bg-white">

  

    <div class="containner m-10">
      <%= student_id %>
        <h1>Course ทั้งหมด</h1>
        
    </div>
</body>

</html>